html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;


}

input,select,h4,div,ul,li {

    text-align: right ;

}
.nav-color{
    color:#e6cf8b !important;
    background-color: #22264b ;
    box-sizing: content-box !important;
}

.color_dark{

    color: #22264b !important;
    /*, 212,​ 100,​ 1*/
}
.color_light{
    color: #e8edf3;
}
.color_pink{
    color: #b56969  ;
}
.color_yellow{
    color: #e6cf8b ;
}
.center{
    text-align: center;
}
/*h4{*/
    /*text-align: right;*/
/*}*/
/*div{*/
    /*text-align: right;*/
/*}*/
.masafa{
    margin-top: 1%;
}
.title {
    font-size: 70px;
    color: #22264b;
}

.title2 {
    font-size: 40px;
    color: #e8edf3;
}

.label {
    font-size: 20px;
    color: #22264b;
    width: 50px;

}

input, button{
    font-size: 20px;
    /*color: #22264b;*/
}

.error {
    font-size: 20px;
    color: #b56969;
    /*background-color: #ffffff;*/
}

.color {
    background-color: #22264b !important;
    color: #e6cf8b !important;
    /*, 212,​ 100,​ 1*/
}

.link{
    color:#22264b;

}
.link:hover {
    color: #b56969;
}
.reg{
    margin-top: 20px;
}
.panel_title{
    padding-right: 20px;
    padding-top: 6px;
}
.color:hover{
    background-color: #22264b !important;
    color: #b56969 !important;
}
.Dashboard{
    background-color:#22264b ;
    height:  92%;
    margin-top: 2px;
}
.title3{
    font-size: 25px;
}
.title4{
    font-size: 20px;
}

.dash_link{
    color:#e8edf3;

}
.dash_link:hover {
    color: #b56969;
}
.center{
    margin: 0 auto;
}
.right{
   /*text-align: right;*/
    /*margin:0;*/
    text-align:right;
    /*clear:both;*/
}
.item_image{
    margin-top: 10%;
    width: 60%;
}
.margin-check{
    margin-right: 25px;
}
.final_calc{
    border: 2px solid #b56969;
    /*height: 25px;*/
    /*display:;*/
}
.title5{
    font-size: 16px;
}
#items_list
{
    width:560px !important;
}
.delete_item:hover {
    color: #b56969;
}
.bg-logo{

    margin:20px auto;
    background-image: url("../coloredLogo2.jpg") ;
    background-repeat: no-repeat ;
    background-color: #fff;
    background-position: center;
    /*background-size: 100%;*/
}
.show_img{
    width: 150px;
    height: auto;
}
.left{

    float: right;
    display: inline;
}
.clear{
    clear: both;
}
.first{
    margin-right: 10%;
}
.bg_img{
    /*display: none;*/
    margin: 0 auto;
}
.myth{
    text-align: center !important;
    font-size: 14px
}
.td10{
    text-align: center ;
    width: 10%

}
.td30{
    text-align: center ;
    width: 30%;
    overflow: auto;
}
@media print{
   .Dashboard,.nav-color,#print
   {
       visibility: hidden;
       display: none;
   }
    body
    {
        margin: 0mm 0mm 25mm 25mm;
        /*margin: 0.0cm 0.0cm 0.25cm 0.25cm;*/
    }
    .show_img{
        width: 100px;
        height: auto;
    }
    .bg-logo{
        float: right;
        position: relative;
        z-index: 1000;
        /*margin-top: -100%;*/
        /*background-size: 100%;*/
    }
    .wrapper{
        position: relative;
    }
    .myth{
        text-align: center !important;
        font-size: 10px
    }
    .td10{
        text-align: center ;
        width: 10%
    }
    .td30{
        text-align: center ;
        width: 30%
    }
    /*.bg_img{display:inline; z-index: -1 ;margin: 0 auto; position: absolute;}*/
    /** {-webkit-print-color-adjust:exact;}*/
}